.AppNavbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    color: wheat !important;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
}

.offcanvas-dark {
    background-color: #212529 !important;
    color: white !important;
}

.offcanvas-dark .btn-close {
    filter: invert(1) !important;
}

.offcanvas-dark .nav-link {
    color: white !important;
}

.offcanvas-dark .nav-link:hover {
    color: wheat !important;
}
